<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="estilos/style_home_principal.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />

    <title>Veterinaria Almavet</title>
    <link rel="stylesheet" href="estilos/style_home_principal.css">

  </head>

  <header>
    <img src="imagen/logo.jpg" alt="Perrito" class="logo">
    <div class="header-icons">
        <span>
          <i class="fas fa-map-marker-alt"></i>
          <span>Av. Sucre 321, Pueblo Libre</span>
        </span>
        <span>
            <i class="fas fa-phone"></i>
            <span>997085767</span>
          </span> 
        <span>
          <i class="fas fa-envelope"></i>
          <span>almavet@gmail.com</span>
        </span>               
      </div>     
      <div class="social-media-icons">
        <a href="#" target="_blank">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="#" target="_blank">
          <i class="fab fa-whatsapp"></i>
        </a>
      </div>
    
        <div class="user-info">
          <span class="user-name">Zoraida</span>               
        </div>
        <div class="logout-icon">
          <a onclick="redireccionarLogout()" target="_blank" rel="noopener noreferrer"><i class="fas fa-sign-out-alt logout-icon"></i></a>
        </div>     
  </header>

  <body>
    
    <div class="container-fluid d-flex">
      <div class="sidebar" id="side_nav">
        <div class="header-box px-2 pt-3 pb-4">
          <h1 class="fs-4"><span class="bg-white text-dark rounded shadow px-2 me-2">V</span><span class="text-white">eterinaria Almavet</span></h1>
          <button class="btn d-md-none d-block close-btn px-1 py-0 text-white"><i class="fal fa-stream"></i></button>
        </div>

        <ul class="list-unstyled px-2">
          <li class="" onclick="redireccionarConsultarPropietario()"><a href="#" class="text-decoration-none px-3 py-2 d-block"><i class="far fa-user-check"></i> Consulta de Propietario</a></li>
          <li class="" onclick="redireccionarRegistrarPropietario()"><a href="#" class="text-decoration-none px-3 py-2 d-block"><i class="far fa-user-plus"></i> Registro de Propietario</a></li>
          <li class="" onclick="redireccionarConsultarMascota()"><a href="#" class="text-decoration-none px-3 py-2 d-block"><i class="fad fa-dog-leashed"></i> Consulta de Mascota</a></li>
          <li class="" onclick="redireccionarRegistrarMascota()"><a href="#" class="text-decoration-none px-3 py-2 d-block"><i class="fad fa-dog"></i> Registro de Mascota</a></li>
          <li class=""><a href="#" class="text-decoration-none px-3 py-2 d-block"><i class="far fa-calendar-check"></i> Consulta de Citas</a></li>
          <li class=""><a href="#" class="text-decoration-none px-3 py-2 d-block"><i class="far fa-calendar-plus"></i> Registro de Citas</a></li>
          <li class=""><a href="#" class="text-decoration-none px-3 py-2 d-block"><i class="fad fa-clipboard-user"></i> Historial Clinico</a></li>
        </ul>
        <hr class="h-color mx-2">

      </div>
      <div class="content">
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script src="javascript/js_redireccionar.js"></script>
    
    <script>
      $(".sidebar ul li").on('click', function(){
        $(".sidebar ul li.active").removeClass('active');
        $(this).addClass('active');
      })
    </script>
  
  </body>
  

</html>
