<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Veterinaria Almavet</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="estilos/style_home_principal.css">
 
</head>
<header>
  <img src="imagen/logo.jpg" alt="Perrito" class="logo">
  <div class="header-icons">
      <span>
        <i class="fas fa-map-marker-alt"></i>
        <span>Av. Sucre 321, Pueblo Libre</span>
      </span>
      <span>
          <i class="fas fa-phone"></i>
          <span>997085767</span>
        </span> 
      <span>
        <i class="fas fa-envelope"></i>
        <span>almavet@gmail.com</span>
      </span>               
    </div>     
    <div class="social-media-icons">
      <a href="#" target="_blank">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="#" target="_blank">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="#" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="#" target="_blank">
        <i class="fab fa-whatsapp"></i>
      </a>
    </div>
  
      <div class="user-info">
        <span class="user-name">Zoraida</span>               
      </div>
      <div class="logout-icon">
        <a onclick="redireccionarLogout()" target="_blank" rel="noopener noreferrer"><i class="fas fa-sign-out-alt logout-icon"></i></a>
      </div>     
</header>
<body>
    
  <div class="container">
    <div class="sidebar" >
      
      <ul class="menu" style="margin-bottom: 40px;">                      
        <li onclick="redireccionarConsultarPropietario()"><a href="#">Consulta de Propietario</a></li>
        <li  onclick="redireccionarRegistrarPropietario()"><a href="#">Registro de Propietario</a></li>        
        <li onclick="redireccionarConsultarMascota()"><a href="#">Consulta de Mascota</a></li>
        <li onclick="redireccionarRegistrarMascota()"><a href="#">Registro de Mascota</a></li>
        <li><a href="#">Consulta de Citas</a></li>
        <li><a href="#">Registro de Citas</a></li>
        <li><a href="#">Historial Clinico</a></li> 
      </ul>
    </div>

    <div class="slider">
        <div class="slide">
          <img src="imagen/slide1.jpg" alt="Imagen 1" class="imagen-slide">
        </div>
        <div class="slide">
          <img src="imagen/slide2.jpg" alt="Imagen 2" class="imagen-slide">
        </div>
        <div class="slide">
          <img src="imagen/slide3.jpg" alt="Imagen 3" class="imagen-slide">
        </div>
      </div>
</div>  
<script src="javascript/js_home_principal.js"></script>
<script src="javascript/js_redireccionar.js"></script>
</body>
<footer>
  <div class="social-icons">
      <a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
      <a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
      <a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
      <a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-whatsapp"></i></a>
    </div>
  <div class="footer-icons">
    <span>
      <i class="fas fa-map-marker-alt"></i>
      <span>Av. Sucre 321, Pueblo Libre</span>
    </span>
    <span>
      <i class="fas fa-phone"></i>
      <span>997085767</span>
    </span>
    <span>
      <i class="fas fa-envelope"></i>
      <span>almavet@gmail.com</span>
    </span>
  </div>
</footer>
</html>
