/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #D9D9D9;
  }
  
 
  /* Estilos del encabezado */
  header {
    background-color: #fff;
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
  }
    
  .logo {
    width: 80px; /* Ajusta el tamaño según el tamaño real de tu imagen */
    margin-right: 10px;
  }

  .header-icons {
    display: flex;
    align-items: center;
  }
  
  .header-icons span {
    display: flex;
    align-items: center;
    margin-right: 15px;
    color: #000; /* Color negro */
  }
  
  .header-icons i {
    margin-right: 5px;
  }
  
  .header-icons span span {
    font-size: 14px;
  }

  .social-media-icons {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Espacio entre .header-icons y .social-media-icons */
  }
  
  .social-media-icons a {
    color: #6A0DAD; /* Color morado oscuro */
    font-size: 20px;
    margin-left: 15px; /* Espacio entre los iconos de redes sociales */
  }
  
  .social-media-icons a:hover {
    color: #4C0B84; /* Color morado más claro al pasar el cursor */
  }

  .header-icons + .social-media-icons {
    margin-left: 500px; /* Espacio entre la imagen y los iconos */
  }
  /*******************************************/
  header h1 {
    margin: 0;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
   

  .logo + .header-icons {
    margin-left: 120px; /* Espacio entre la imagen y los iconos */
  }

  .icon i {
    margin-right: 5px;
  }
  
  .icon span {
    font-size: 14px;
  }

  /* Estilos de secciones */
  section {
    padding: 40px;
  }
  
  section h2 {
    margin-top: 0;
  }
  
  section ul {
    padding-left: 20px;
  }
  
  /* Estilos del equipo */
  .doctor {
    display: inline-block;
    margin-right: 20px;
    text-align: center;
  }
  
  .doctor img {
    width: 200px;
    border-radius: 50%;
  }
  
  /* Estilos del formulario de contacto */
  form input,
  form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  form button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  /* Estilos del pie de página */
  footer {
    background-color: #fff;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .footer-icons {
    margin-top: 20px;    
  }
  
  .footer-icons i {
    color: #000;
  }
  .footer-icons span {
    display: inline-flex;
    align-items: center;
    margin-right: 20px;
    color: #000;
  }
  
  .footer-icons i {
    margin-right: 5px;
    font-size: 20px;
  }

  /* Estilos de redes sociales footer*/

  .social-icons {
    margin-top: 20px;
  }
  
  .social-icons a {
    display: inline-block;
    margin-right: 10px;
    color: #6A0DAD; /* Morado oscuro */
    font-size: 20px;
  }
  
  .social-icons a:hover {
    color: #4C0B84; /* Morado más claro al pasar el cursor */
  }


/*Estilos para el menu lateral*/

body {
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
  }
  
  .sidebar {
    width: 250px;
    background-color: #B2A6A6; /* Color marrón claro */
    padding: 20px;
    height: 72vh;
  }
  
  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    
  }
  
  .menu li {
    margin-bottom: 10px;
  }
  
  .menu a {
    display: block;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    color: #000;
  }
  
  .menu a:hover {
    background-color: #998A8A; /* Color marrón oscuro al pasar el cursor */
  }
  
  .menu a.active {
    background-color: #8C5E3A; /* Color marrón oscuro para opción seleccionada */
    color: #fff;
  }

  .menu-image {
    width: 150px; /* Ajusta el tamaño según el tamaño real de tu imagen */
    margin-left: 50px;
    margin-bottom: 40px;
  }

  /*Estilos para el logout*/
  .user {
    display: flex;
    align-items: center;
  }
  
  .user-info {
    margin-right: 10px;
  }
  
  .user-name {
    font-weight: bold;
    color: #000;
    margin-left: 50px;
  }
  
  .logout {
    appearance: none;
    background-color: transparent;
    border: none;
    font-size: 14px;
  }
  
  .user-icon img {
    width: 30px; /* Ajusta el tamaño del icono de usuario según tus necesidades */
    height: auto;
  }