
.nombreMasco {
    position: relative;
}

.custom-label-nombre {
    position: relative;
    top: 90px;
    left: 180px;
}

.custom-input-nombre {
    position: absolute;
    top: 110px;
    left: 180px;
    width: 200px; /* Ancho de la caja de texto */
    height: 20px; /* Altura de la caja de texto */
}

.custom-label-especie {
    position: relative;
    top: 90px;
    left: 320px;
}

.custom-input-especie {
    position: absolute;
    top: 110px;
    left: 450px;
    width: 200px; /* Ancho de la caja de texto */
    height: 20px; /* Altura de la caja de texto */
}

.custom-label-dni {
    position: relative;
    top: 90px;
    left: 482px;
}

.custom-input-dni {
    position: absolute;
    top: 110px;
    left: 740px;
    width: 200px; /* Ancho de la caja de texto */
    height: 20px; /* Altura de la caja de texto */
}
